@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.row {
  display: flex;
}
.tictac {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.oc-card {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  margin: 1rem;
  height: 300px;
  border: 1px solid #C1FE03;
}

.marathon { 
  font-size: 5rem;
  background-color: #C1FE03;
  color: black;
  p {
    display: inline-block;
    writing-mode: vertical-rl;
    margin: auto;
  }
}

.description {
  padding: 1rem;
}