@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.row {
  display: flex;
}
.tictac {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.oc-card {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  margin: 1rem;
  height: 300px;
  border: 1px solid #C1FE03;
}

.marathon { 
  font-size: 5rem;
  background-color: #C1FE03;
  color: black;
  p {
    display: inline-block;
    writing-mode: vertical-rl;
    margin: auto;
  }
}

.description {
  padding: 1rem;
}


.quiz {
  container-name: quiz-container;
  container-type: inline-size;
  background-color: white;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  height: 100px;
  background-color: #FA8100;
  line-height: 60px;
  font-size: 40px;
  font-weight: bold;
}
header .top {
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100px;
  display: flex;
}
header .progress-bar {
  height: 10px;
}
header .progress-fill {
  height: 7px;
  background-color: #fad000;
  width: 4%;
}

header .expander {
  flex-grow: 1;
}
header .header-text {
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
header a:hover {
  text-decoration: underline;
}

.quiz main {
  padding: 40px;
  padding-bottom: 160px;
  font-family: serif;
  font-size: 40px;
  color: black;
}

.quiz .choice {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid black;
}
.quiz .choice.selected {
  margin-top: 20px;
  padding: 19px;
  border: 2px solid #FA8100;
}

/* wrong answer */
.quiz .choice.answering.selected {
  margin-top: 20px;
  padding: 19px;
  border: 2px solid #ff6d41;
  background-color: #ffc0ad;
}
.quiz .choice.answering.selected.answer {
  margin-top: 20px;
  padding: 18px;
  border: 3px solid #fad000;
  background-color: transparent;
  box-shadow:
    0px 0px 5px 0px #fad000,
    inset 0px 0px 5px 0px #fad000;
}
.quiz .choice.answer {
  margin-top: 20px;
  padding: 19px;
  border: 3px solid #FA8100;
}
.quiz .input-choice {
  margin-top: 20px;
  border: 1px solid black;
}
.quiz .input-choice input {
  padding: 20px;
  width: 100%;
}

.quiz .below {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  padding: 0px;
  button {
    margin: 40px;
    margin-bottom: 20px;
    padding: 20px;
    color: #FA8100;
    border: 1px solid #FA8100;
    font-family: sans-serif;
    font-weight: lighter;
  }
}
@container quiz-container (width > 600px) {
  .quiz .below {
    text-align: center;
  }
}
@container quiz-container (width < 600px) {
  .quiz .below {
    text-align: right;
  }
}

.home {
  container-name: quiz-container;
  container-type: inline-size;
  background-color: white;
  min-height: 100vh;
}

.home main {
  padding: 40px;
  padding-bottom: 160px;
  font-family: sans-serif;
  font-size: 40px;
  color: black;
}
.home .questions {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid black;
}